import { defineConfig } from 'vite'
import react from '@vitejs/plugin-react'

export default defineConfig({
  plugins: [react()],
  server: {
    proxy: {
{{range .Models}}      '/api/{{.Name}}': 'http://localhost:{{$.Port}}',
{{end}}{{if .HasAuth}}      '/api/auth': 'http://localhost:{{.Port}}',
{{end}}    },
  },
})
